@model WebAPI_reservation.Models.Book


<div class="card-header bg-primary text-white pb-0"><h4>Zarezerwuj</h4></div>

<div class="card-body">
    @using (Html.BeginForm("Add", "Home"))
    {
        <div class="form-group">
            <label>Wynajmujący</label>
            @Html.TextBoxFor(w => w.CustomerName, new { @class = "from-control" })
        </div>

        <div class="form-group">
            <label>Pokój</label>
            @Html.TextBoxFor(r => r.Room, new { @class = "from-control" })
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    }
</div>