@using WebAPI_reservation.Models

@model IEnumerable<Book>

@{
    ViewBag.Title = "Rezerwacje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{}

@section Body{
    <div id="list" class="section card">
        @Html.Partial("List", Model)
    </div>
    <div id="edit" class="section card">
        @Html.Partial("Edit", new Book())
    </div>

}