@model IEnumerable<WebAPI_reservation.Models.Book>

    <div class="card-header bg-primary text-white pb-0"><h4>Lista Rezerwacji</h4></div>
<div class="card-body">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Wynajmujący</th>
                <th>Pokój</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var book in Model)
            {
                <tr>
                    <td>@book.BookId</td>
                    <td>@book.CustomerName</td>
                    <td>@book.Room</td>
                    <td>
                        @Html.ActionLink("Usuń", "Remove",
                            new { id = book.BookId },
                            new { @class = "btn btn-xs btn-primary"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>